
.titled-pane > .content > .video-pane {
    -fx-background-color: null;
    -fx-background-insets: 0, 0;
    -fx-padding: 0;
}

.video-pane {
    -fx-background-color: #608070;
}

.media-view-pane {
    -fx-background-color: #96A4B3;
}
